<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
        <h1>My Routines</h1>
        
        <div>
            <ul>
                <!-- check back for loop to make sure 
                its calling from the selected workouts -->
                {% for workout in workouts %}
                <li>
                    <strong>Title:</strong> {{ workout.title }}<br>
                    <strong>Description:</strong> {{ workout.description }}<br>
                    <strong>Type:</strong> {{ workout.type }}<br>
                    <strong>Body Part:</strong> {{ workout.body_part }}<br>
                    <strong>Equipment:</strong> {{ workout.equipment }}<br>
                    <strong>Level:</strong> {{ workout.level }}<br>
                    <strong>Rating:</strong> {{ workout.rating }}<br>
                    <strong>Rating Description:</strong> {{ workout.rating_desc }}<br>
                </li>
                {% endfor %}
            </ul>
        </div>
        
    </body>
</html>
    
