<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% block title %}{% endblock %}</title>
    
        
    </head>

    <style>
        body{
            background-color: #020023;
            color: white;
        }
        h4{
            color: #78bebc;
        }

    </style>

    <body>

        <nav style="background-color: #426b69; font-family: monospace;">
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo center" style="font-family: Haettenschweiler;">{% block page %}<em>F l e x</em> F i t{% endblock %}</a>
                <ul id="nav-mobile" class="left">
                    <li><a href="/homePage">Home</a></li>
                    <li><a href="/browseWorkoutsPage">Browse Workouts</a></li>
                    <li><a href="/myRoutinesPage">My Routine</a></li>
                </ul>
                <ul id="nav-mobile" class="right">
                    <li><p1>Welcome {{current_user.username}}</p1></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
        </nav>

        <!-- My Routine -->
        <div class="container" style="font-family: monospace;">
            <h2>{{ current_user.username }}'s Routine</h3>
            <hr style="width: 100%;">
            <div class="row">
                {% for routine in current_user.routines %}
                <div class="col s12 m6 14">
                    <div class="card">
                        <div class="card-content" style="color: #020023; font-family: monospace;">
                            <span class="card-title activator grey-text text-darken-4">
                                {{ routine.workout.title }}
                                <i class="material-icons right">more_vert</i>
                            </span>
                            <p><strong>Type:</strong> {{ routine.workout.type }}<br></p>
                            <p><strong>Body Part:</strong> {{ routine.workout.body_part }}<br></p>
                            <p><strong>Equipment:</strong> {{ routine.workout.equipment }}<br></p>  
                        </div>
                        <!-- delete button -->
                        <div class="card-action">
                            <form action="/delete_from_routine/{{ routine.workout.id }}" method="POST">
                                <button type="submit" class="btn waves-effect waves-light grey" style="font-family: monospace">Delete Workout</button>
                            </form>                            
                        </div>
                        <!---->
                        <div class="card-reveal" style="color: #020023;">
                            <span class="card-title grey-text text-darken-4">
                                {{ routine.workout.title }}
                                <i class="material-icons right">close</i>
                            </span>
                            <p><strong>Description:</strong> {{ routine.workout.description }}</p>
                            <p><strong>Level:</strong> {{ routine.workout.level }}</p>
                            <p><strong>Rating:</strong> {{ routine.workout.rating }}</p>
                            <p><strong>Rating Description:</strong> {{ routine.workout.rating_desc }}</p>
                        </div>

                    </div>
                </div>
                {% endfor %}

            </div>
        </div>

        <!-- add to routine -->
        <div class="container">
            <div class="row">
                <div class="col s12 center-align">
                    <a href="/browseWorkoutsPage" class="btn waves-effect waves-light" style="font-family: monospace;">Add to My Routine</a>
                </div>
            </div>
        </div>
        <!---->


        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


             
        
        
      
    
    </body>
</html>
    
